<section class="about section section--brick" id="about">
  <div class="container">
    <div class="about-header">
      <h2 class="section-title">Who Am I?</h2>
    </div>

    <div class="author-photo">
      <img src="/assets/book/images/author-photo.webp" alt="Portrait of the author" loading="lazy">
    </div>

    <div class="about-body">
      <p class="about-lede">I don't want fame. I'm not a guru in a rented Lambo. I'm just a man who hit rock bottom and refused to stay there.</p>

      <p>Mental toughness changed my life. Everything else out there tells you to rest, be gentle with yourself, and that your excuses are valid. Bullshit. This world is ruthless, and if you don't develop grit, it will destroy you.</p>

      <p>I wrote this book so you become tougher and learn to face adversity like a badass, not like a whiny little bitch.</p>

      <p>You didn't click on this to get coddled. You're here because some part of you already knows the soft version of your life isn't working. I'm not going to validate that version. I'm going to help you kill it.</p>

      <p class="about-signoff">Stay gritty.</p>
    </div>
  </div>
</section>
