<footer class="footer">
  <img class="footer__logo" src="/assets/shared/images/logo.webp" alt="The Grit Chronicles">
  <div class="footer__copyright">&copy; {{ book.year }} The Grit Chronicles. All rights reserved.</div>
</footer>
