<footer class="footer section--grey">
  <div class="container footer-inner">
    <img class="logo" src="/assets/book/images/logo.webp" alt="The Grit Chronicles">
    <div class="copyright">&copy; {{ book.year }} The Grit Chronicles. All rights reserved.</div>
  </div>
</footer>
