<section class="intro" id="intro-1">
  <div class="intro__media">
    <img src="/assets/book/images/punch.webp" alt="Boxer taking a punch to the face" class="intro__media-img" loading="lazy">
    <div class="intro__media-fade"></div>
  </div>

  <div class="intro__content">
    <p class="intro__bold">Life will punch you in the face.</p>
    <p class="intro__body">None of us gets through life without taking a few hits.</p>
    <p class="intro__body">But without grit you'll get knocked out cold.</p>
  </div>
</section>
