<section class="vsl section section--grey" id="vsl">
  <div class="container center">
    <h2 class="section-title">Watch or Let Your Excuses Destroy You</h2>

    <div class="vsl-video-wrap">
      <script src="https://fast.wistia.com/player.js" async></script>
      <script src="https://fast.wistia.com/embed/70fk1y91al.js" async type="module"></script>
      <style>
        wistia-player[media-id='70fk1y91al']:not(:defined) {
          background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/70fk1y91al/swatch');
          display: block;
          filter: blur(5px);
          padding-top: 56.25%;
        }
      </style>
      <wistia-player media-id="70fk1y91al" aspect="1.7777777777777777"></wistia-player>
    </div>
  </div>
</section>