---
layout: book/layouts/base.njk
title: Book
---
{% include "book/sections/hero.njk" %}
{% include "book/partials/marquee.njk" %}
{% include "book/sections/vsl.njk" %}
{% set rotate = 2 %}
{% set rotate2 = -8 %}
{% include "book/partials/barbed-strip.njk" %}
{% set variant = "up" %}
{% set style = "brick" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/problem.njk" %}
{% set variant = "down" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/whats-inside.njk" %}
{% set variant = "up" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/testimonials.njk" %}
{% set variant = "down" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/ultimatum.njk" %}
{% set variant = "up" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/product.njk" %}
{% set variant = "down" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/safe-buy.njk" %}
{% set variant = "up" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/about.njk" %}
{% set variant = "down" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/faq.njk" %}
{% set rotate = -8 %}
{% set rotate2 = 3 %}
{% include "book/partials/barbed-strip.njk" %}
{% set variant = "up" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/cta-band.njk" %}
{% set variant = "down" %}
{% include "book/partials/tear.njk" %}
{% include "book/sections/footer.njk" %}
