<div class="barbed-divider" aria-hidden="true">
  <div class="barbed-divider__strip barbed-divider__strip--a">
    {% include "book/partials/barbed-wire-svg.njk" %}
  </div>
  <div class="barbed-divider__strip barbed-divider__strip--b">
    {% include "book/partials/barbed-wire-svg.njk" %}
  </div>
</div>
