<div class="barbed-strip">
  <div class="barbed-wire" style="transform: translateX(-50%) rotate({{ rotate }}deg);">
    <img src="/assets/book/images/barbed-wire.webp" alt="">
  </div>
  <div class="barbed-wire" style="transform: translateX(-50%) scaleX(-1) rotate({{ rotate2 }}deg);">
    <img src="/assets/book/images/barbed-wire.webp" alt="">
  </div>
</div>
