<div class="marquee">
  <div class="marquee__track">
    <span class="marquee__text">The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• </span>
    <span class="marquee__text" aria-hidden="true">The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• The Grit Chronicles&nbsp;• </span>
  </div>
</div>
